.venv
endpoints/my_coffee/
endpoints/scratch
endpoints/data/driver
endpoints/data/tmp
.vscode
.env
db.sqlite3
static/assets/img/
static/js/aSimpleTour.js
static/js/aSimpleTour.min.js
static/js/myTour.js
templates/tour.html