{% extends 'hello/base.html' %}

{% block title %}Add a New Coffee{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Welcome</a></li>
  <li class="breadcrumb-item"><a href="{% url 'user_profile' user.username %}">{{user.username}}</a></li>
  <li class="breadcrumb-item active">Add Coffee</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_coffee">Name</label>
      <input type="text" class="form-control" id="id_coffee" name="coffee_name">
    </div>
    <div class="form-group">
      <label for="id_roaster">Roaster</label>
      <input type="text" class = "form-control" id="id_roaster" name="roaster_name">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
{% endblock %}