{% extends 'base.html' %}

{% block title %}Rate Coffee{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div id="wizard" role="application" class="wizard clearfix vertical">
      <div class="steps clearfix"></div>
      <br> 
        <div class="card-body">
          <h3 class="card-title text-center">Select one of the roaster's coffees</h3>
          <form action="" method="post" novalidate>
            <div class ="content clearfix" id="rating-card">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              <!-- <input type="hidden" name="next" value="{{ next }}"> -->
              {% include 'includes/forms.html' %}
            </div>
            <div class="actions clearfix">
              <ul>
            {% if formStep%}
                <li>
                  <button name='roaster' value='{{roaster }}' formaction="{% url 'select_coffee'%}" class="btn btn-primary">Add Coffee</button>
                </li>
            {% endif %}
                <li>
                  <button type="submit" name = 'Next' class="btn btn-primary btn-block" id="next-btn">
                    Next
                  </button>
                </li>
              </ul>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}

