{% extends 'index.html' %}

{% block title %}Rate Coffee{% endblock %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div id="wizard" role="application" class="wizard clearfix vertical">
      <div class="steps clearfix"></div>
      <br> 
        <div class="card-body">
          <h3 class="card-title text-center">Rate a Coffee</h3>
          <form action="" method="post" novalidate>
            <div class ="content clearfix" id="rating-card">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/forms.html' %}
            </div>
            <div class="actions clearfix">
              <ul>
            {% if rate_roasterStep %}
                <li>
                  <button name='add_roaster' value='add_roaster' formaction="{% url 'select_roaster'%}" class="d-sm-inline-block btn btn-md btn-light border border-primary shadow-sm">Add Roaster</button>
                </li>
            {% elif rate_coffeeStep %}
              <li>
                <button name='roaster' value='{{roaster}}' formaction="{% url 'select_coffee'%}" class="d-sm-inline-block btn btn-md btn-light border border-primary shadow-sm">Add Coffee</button>
              </li>
            {%else%}
              
            {% endif %}
            {% if rate_finalStep %}
                <li>
                  <button type="submit" name = 'submit' class="d-sm-inline-block btn btn-md btn-primary shadow-sm" id="next-btn">
                    Submit
                  </button>
                </li>
            {% else %}
                <li>
                  <button type="submit" name = 'Next' class="d-sm-inline-block btn btn-md btn-primary shadow-sm" id="next-btn">
                    Next
                  </button>
                </li>
            {% endif %}
              </ul>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
{% if 'ratingStep==0'%}
  {% block javascript %}
    <!-- Select 2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#id_name').select2();
      });
    </script>
  {% endblock %}
{% endif %}

