{% extends 'index.html' %}

{% block title %}Rate Coffee{% endblock %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<b></b> <br/>
<div class="row justify-content-center">
    <div id="wizard" role="application" class="wizard clearfix vertical">
      <div class="steps clearfix"></div>
      <br> 
        <div class="card-body">
          {% if add_roaster %}
          <h3 class="card-title text-center">Add Roaster</h3>
          {% else %}
          <h3 class="card-title text-center">Add Coffee</h3>
          {% endif %}
          <form action="" method="post" novalidate>
            <div class ="content clearfix" id="rating-card">
              {% csrf_token %}
              {% include 'includes/forms.html' %}
            </div>
            <div class="actions">
              <ul>
                {% if roasterStep %}
                <li>
                  <button class='d-sm-inline-block btn btn-md btn-light border border-primary shadow-sm' name="add_roaster" type="submit" formaction="{% url 'add_coffee1' %}" value="add_roaster">
                    Add Roaster
                  </button>
                </li>
                {% else %}
                {%endif%}
                {% if finalStep%}
                <li>
                  <button type="submit" name = 'submit' class="d-sm-inline-block btn btn-md btn-primary shadow-sm" id="next-btn">
                    Submit
                  </button>
                </li>
                {% else %}
                <li>
                  <button type="submit" name = 'Next' class="d-sm-inline-block btn btn-md btn-primary shadow-sm" id="next-btn">
                    Next
                  </button>
                </li>
                {% endif %}
              </ul>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<!-- Select 2-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% if varietalStep%} 
  <script>
    $(document).ready(function() {
      $('#id_varietals').select2();ijm
    });
  </script>
{% elif noteStep%}
  <script>
    $(document).ready(function() {
      $('#id_roaster_notes').select2();
    });
  </script>
{%endif%}
{% endblock %}
