{% extends 'base.html' %}
{% load i18n %}
{% block title %}Rate Coffee{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <!-- <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> -->
  <!-- <div class="col-lg-4 col-md-8 col-sm-12"> -->
    <div id="wizard" role="application" class="wizard clearfix vertical">
      <div class="steps clearfix"></div>
      <br> 
        <div class="card-body">
          <h3 class="card-title text-center">Select the brew method</h3>
          <form action="" method="post">
            <div class ="content clearfix" id="rating-card">
              {% csrf_token %}
              {{ wizard.management_form }}
              {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                  {{ form }}
                {% endfor %}
              {% else %}
                {{ wizard.form }}
              {% endif %}
              {% if wizard.steps.prev %}
            </div>
            <div class="actions">
            <ul>
              <li>
                <button class='btn btn-primary' name="wizard_goto_step " type="submit"
                  value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
              </li>
              <li>
                <button class='btn btn-primary' name="wizard_goto_step" type="submit"
                  value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
              </li>
              {% endif %}
              <li>
                <button class='btn btn-primary' id="next-btn" name="wizard_goto_step" type="submit" value="{% trans 'submit' %}">
                  Next
                </button>
                <!-- <input type="submit" id='button' class='btn btn-primary btn-block' value="{% trans "submit" %}" /> -->
              </li>
            </ul>
          </div>
          </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}

