{% extends 'index.html' %}
{% block title %}Update Rating{% endblock %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				{% include 'includes/forms.html' %}
				<a class="d-sm-inline-block btn btn-md btn-light border border-primary shadow-sm" href="{% url 'user_coffees' %}">Cancel</a>
				<input class='d-sm-inline-block btn btn-md btn-primary shadow-sm' type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}